# --------------------
# Go build artifacts
# --------------------
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.docx

# --------------------
# Go workspace
# --------------------
go.work
go.work.sum

# --------------------
# Environment variables
# --------------------
.env

# --------------------
# Logs
# --------------------
*.log

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE
# --------------------
.vscode/
.idea/

# --------------------
# Docker
# --------------------
postgres_data/
docker-data/

# --------------------
# Frontend (Node / React)
# --------------------
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*